body {
    background-color: antiquewhite;
}

header {
    background-color: rgba(240, 255, 255, 0.664);
}

h1 {
    border: dotted black 10px
}

footer {
    background-color: rgba(128, 61, 61, 0.133);
}